#file-zone {
    background-color:#f1f0f0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#file {
    width: 600px;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #e4dede;
    font-size: 1rem;
    color: #4e4e4e;
    padding: 2rem;
    line-height: 1.3rem;
    font-family: 'Arial';
}

#control-panel {
    height: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    position: relative;
}

#format-actions {
    width: 200px;
    margin-right: 400px;
}

.Synonyms {
    position: absolute;
    width: 20rem;
    height: auto;
    left: 4rem;
    background: #ffffff;
    border: 1px solid #ffa500;
    font-size: 1.1rem;
    text-align: left;
    padding: 1rem;
    display: none;
}

.Synonyms.active {
    display: block;
}

.Synonyms .title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffa500;
}

.Synonyms .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1rem;
    color: #ffa500;
    cursor: pointer;
    text-decoration: underline;
    padding: 0 0.5rem;
}

.Synonyms span {
    text-decoration: underline;
    cursor: pointer;
    padding: 0 0.5rem;
}
